/* Estilo general del body */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* Elimina las barras de desplazamiento globales */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #333333;
}

/* Estilo para la pantalla de formatos */
#home-screen {
  background-image: url('https://i.imgur.com/gDVFTGr.png'); /* Fondo de la pantalla */
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%; /* Aseguramos que ocupe todo el ancho */
  height: 100%; /* Aseguramos que ocupe todo el alto */
  display: flex;
  flex-direction: column; /* Apilar los elementos verticalmente */
  justify-content: center; /* Centrado vertical */
  align-items: center; /* Centrado horizontal */
  color: white;
  padding-top: 65px; /* Baja todo un poco, ajusta este valor según lo que necesites */
  padding-bottom: 50px;
  overflow-y: auto; /* Permite desplazamiento vertical */
  -webkit-overflow-scrolling: touch; /* Mejora el desplazamiento en dispositivos iOS */
  text-align: center; /* Centra el texto */
}

/* Estilo para el título "Seleccionar formato" */
#home-screen h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-size: 36px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px; /* Separar un poco del contenido de los botones */
}

/* Estilo para los botones de la pantalla de formatos */
#home-screen button {
  background-color: #4CAF50; /* Verde */
  color: white;
  border: none;
  border-radius: 8px;
  margin: 15px; /* Menos margen para botones más pequeños */
  padding: 14px 26px; /* Ajuste del tamaño del padding */
  font-size: 18px; /* Asegurar tamaño consistente */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#home-screen button:hover {
  background-color: #45a049; /* Verde más oscuro */
  transform: scale(1.1);
}

#home-screen button:active {
  background-color: #2c6b2f; /* Verde más oscuro al hacer clic */
  transform: scale(1);
}

/* Ajustes específicos para pantallas grandes y móviles */
@media (min-width: 768px) {
  #home-screen {
    overflow-y: scroll; /* Desplazamiento con scrollbar en pantallas grandes */
  }

  /* Ajustar el padding de los botones en pantallas grandes para mejor visibilidad */
  #home-screen button {
    font-size: 18px; /* Asegurar tamaño de fuente consistente */
    padding: 14px 26px; /* Botones más grandes */
  }
}

/* Ajustes específicos para pantallas móviles pequeñas */
@media (max-width: 768px) {
  #home-screen {
    padding-top: 100px; /* Eliminar padding superior en móviles */
    overflow-y: auto; /* Permite desplazamiento */
  }

  #home-screen button {
    font-size: 12px; /* Botones más pequeños */
    padding: 8px 16px;
  }
}

/* Estilo para la pantalla de bienvenida */
#welcome-screen {
  background-image: url('https://i.imgur.com/gDVFTGr.png');
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 0;
  padding-top: 100px;
  overflow: auto;
}

/* Estilo para el texto "Ingeniera Ambiental: Estefany Calero" */
#credits-text {
  font-size: 24px; /* Tamaño de fuente */
  color: white; /* Color del texto */
  font-weight: bold; /* Negrita */
  text-align: center; /* Centrado del texto */
  position: fixed; /* Fija el elemento en la pantalla */
  bottom: 0; /* Coloca el texto en la parte inferior de la pantalla */
  width: 100%; /* Asegura que el texto ocupe todo el ancho de la pantalla */
  padding: 10px 0; /* Añade un poco de espacio arriba y abajo */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejorar la visibilidad */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra para el texto */
}




/* Centrar los botones en la pantalla de bienvenida */
#welcome-screen button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  margin: 16px;
  padding: 14px 26px; /* Asegurado que el tamaño de los botones sea consistente */
  font-size: 18px; /* Asegurar tamaño de fuente consistente */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 15px;
  display: inline-block;
}

/* Cambio de color en hover */
#welcome-screen button:hover {
  background-color: #388e3c;
  transform: scale(1.1);
}

/* Botón con verde oscuro cuando se presiona */
#welcome-screen button:active {
  background-color: #2c6b2f; /* Verde oscuro cuando se presiona */
  transform: scale(1);
}

/* Estilo para los títulos */
#welcome-screen h1,
#selection-screen h1,
#home-screen h1,
#table-screen h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-size: 50px;
  font-weight: bold;
  color: white;
}

/* Estilo para la pantalla de selección de formatos */
#selection-screen {
  background-image: url('https://i.imgur.com/gDVFTGr.png');
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 0;
  padding-top: 110px;
  overflow: auto;
}

/* Estilo para los botones de la pantalla de selección */
#selection-screen button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  margin: 15px;
  padding: 14px 26px; /* Ajuste consistente con otros botones */
  font-size: 18px; /* Tamaño consistente */
  cursor: pointer;
  transition: transform 0.2s ease;
}

#selection-screen button:hover {
  background-color: #45a049;
  transform: scale(1.1);
}

#selection-screen button:active {
  background-color: #2c6b2f; /* Verde oscuro cuando se presiona */
  transform: scale(1);
}

/* Estilo para la pantalla de tabla */
#table-screen {
  background-color: #333333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 0;
  text-align: center;
  overflow: auto;
}

#table-container {
  display: block;
  width: 80%;
  max-width: 100%;
  margin: 20px;
  overflow-x: auto;
  overflow-y: auto;
  background-color: #333333;
  border-radius: 8px;
}

#table-screen table {
  background-color: #333333;
  color: white;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  min-width: 800px;
  border: 1px solid #ddd;
}

#table-screen th {
  background-color: #4CAF50;
  color: white;
  padding: 12px 15px;
  border: 1px solid #ddd;
}

#table-screen td {
  background-color: #555555;
  padding: 12px 15px;
  border: 1px solid #ddd;
}

#table-screen tr:hover {
  background-color: #666666;
}

#table-screen button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  margin: 15px;
  padding: 14px 26px; /* Tamaño de los botones consistente con los demás */
  font-size: 18px; /* Tamaño de fuente consistente */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#table-screen button:hover {
  background-color: #45a049;
  transform: scale(1.1);
}

#table-screen button:active {
  background-color: #2c6b2f; /* Verde oscuro cuando se presiona */
  transform: scale(1);
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .modal-content {
    width: 90%;
    padding: 15px;
  }

  /* Ajustar los botones en pantallas pequeñas */
  #welcome-screen button,
  #home-screen button,
  #selection-screen button,
  #table-screen button {
    font-size: 14px; /* Ajuste de tamaño de fuente en dispositivos móviles */
    padding: 12px 24px; /* Ajuste de padding para botones más pequeños */
  }

  input[type="text"],
  textarea {
    width: 100%;
    font-size: 14px;
  }
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  padding: 20px;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.modal button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 10px;
}

.modal button:hover {
  background-color: #45a049;
  transform: scale(1.1);
}

.modal button:active {
  background-color: #2c6b2f; /* Verde oscuro cuando se presiona */
  transform: scale(1);
}
